.App{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

}
.title{
    background-color: #5DB9FF;
    width:100%;
    height: 300px;
    display: flex;
    color: azure;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.title>input
{
    width:250px;
    height: 40px;
    border-radius: 10px;
    border:1px solid #3da9fc ;
    outline: none;
    font-size: 18px;
    padding: 10px;
}
.title>button
{
    width:200px;
    height: 40px;
    border-radius: 10px;
    background-color: #FBD743;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;    
}
.displaysection{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;

}
.displaysection> .imagesec{
    width: 100%;
    height: 100%;
    flex:0.5;
}
.imagesec>img{
    width: 60%;
    height: 60%;
}